# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/

out/

db/validator*/*

config/validator*/rippled.cfg
config/validator*/validators.txt
