# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/

out/

db/proxy/*
db/validator*/*
logs/*
!logs/b1
!log/b2
!logs/b3
#logs/*/validator*
#logs/*/execution.txt
#logs/*/subscription*
#!logs/*/failure_file.txt
#!logs/*/ga.txt
config/validator*/*
rust-ripple-p2p/trace_graphs.txt
rust-ripple-p2p/delay_locality.txt
rust-ripple-p2p/fitness_values.txt
rust-ripple-p2p/priority_locality.txt
rust-ripple-p2p/priority_trace_graphs.txt
rust-ripple-p2p/scaling.txt
rust-ripple-p2p/run.txt

!documents/results/
documents/results/*
!documents/results/TraceComparison1.txt
!documents/results/TraceComparisonReceive1.txt
!documents/results/TraceComparisonReceiveBig.txt
!documents/results/FitnessFunctionComparison.txt

analysis/venv
