# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/

out/

db/proxy/*
db/validator*/*
logs/proxy/*
logs/validator*/*
config/validator*/rippled.cfg
config/validator*/validators.txt
rust-ripple-p2p/execution.txt

